<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHIRTS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .navbar li{
            display: inline;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container fluid">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="shirt.html">SHIRTS</a></li>
               <li><a href="Jacket.html">JACKETS</a></li>
               <li><a href="socks.html">SOCKS</a></li>
           </ul>
           <div class="cart">
               <ul>
                   <li class="cart">
                    Your cart: {{ cart }}
                   </li>
               </ul>
           </div>
        </div>
    </div>
    <div id="jack">
        <div class="product-content">
            <div class="heading">
                <h1>{{ product }}</h1>
             </div>
            <div class="row">
               
                <div class="product-img col-sm-12 col-md-3 col-lg-3">
                    <img v-bind:src="image" alt="Jacket image 1 ">
                </div>
                <div class="prodect-description col-sm-12 col-md-6 col-lg-6">
                    <p>{{ description }}</p>
                    <ul>
                        <li v-for="detail in details">
                        {{ detail }}
                        </li>
                     </ul>
                     <div v-for="variant in variants" :key="variant.variantId">
                        <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                    </div>
                    <button v-on:click="addCart">Add to Cart</button>
                    <button v-on:click="removeCart">Remove from cart</button>
                    <div class="cart">
                        <p>Cart: {{ cart }}</p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        var jack = new Vue({
            el:'#jack',
            data:{
                product:'SHIRT',
                description:'Shirt is a cloth garment for the upper body (from the neck to the waist). Originally an undergarment worn exclusively by men, it has become, in American English, a catch-all term for a broad variety of upper-body garments and undergarments. ... A shirt can also be worn with a necktie under the shirt collar.',
                image:'./shirt1.jfif',
                inventory:12,
                details: ["New Informal Collection","100% Cotton","Available at a discounted price"],
                cart: 0,
                variants:[
                    {
                        variantId: 9993,
                        variantColor:"Denim",
                        variantImage:'./shirt1.jfif',
                    },
                    {
                        variantId:9994,
                        variantColor:'Dark Green',
                        variantImage:'./shirt2.jfif',
                    },
                    {
                        variantId:9995,
                        variantColor:'Gray',
                        variantImage:'./shirt3.jfif',
                    },
                ],
            },
            methods:{
                addCart: function(){
                    this.cart+=1

                },
                removeCart: function(){
                    this.cart-=1
                },
                updateProduct: function (variantImage){
                    this.image = variantImage
                }
            }
        })
    </script>
    
</body>
</html>