<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>FORM.VUE.JS</title>
</head>
<body>
    
       
        <div class="container-fluid">
            <h3>FROM 101</h3>
            <ul class="navbar-nav ml-auto">

            </ul>
        </div>
        <div class="container-fluid">
            <div class="container" id="frm" >
                <p>Your name here:</p>
                <input v-model="message" placeholder="name please!"  >
                <p>Your Name is: {{ message }}
                </p>
                <span>Please describe yourself in few lines</span>
                <p style="white-space: pre-line;">{{paragraph}}</p>
                <br>
                 <textarea v-model='paragraph' placeholder="describe yourself here" ></textarea>
                <br>
                <br>

                
                
                
                <br>
                <br>
                <input type="checkbox" id="node.js" value="Node.js" v-model="skills">
                <label for="node.js">Node.js</label>
                <input type="checkbox" id="vue.js" value="Vue.js" v-model="skills">
                <label for="vue.js">Vue.js</label>
                <input type="checkbox" id="jquery.js" value="Jquery.js" v-model="skills">
                <label for="jquery.js">Jquery.js</label>
                <br>
                <span>
                    Skills selected by you: {{skills}}
                </span>
                <br>
                <br>
                <span>Select a role you would like to play</span>
                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option>Frontend Dev</option>
                    <option>Backend Dev</option>
                    <option>Fullstack Dev</option>
                </select>
                <br>
                <span>{{message}} selected the role of: {{ selected }}</span>
                <br>
                <br>
                <button type="submit" @click="display">Submit</button>
               



            </div>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
 

        var v= new Vue({
            el:"#frm",
            data:{
                message:'',
                paragraph:'',
                skills: [],
                selected:"",
            },
            methods:{
                display:function(event){
                    if(this.message==='',this.paragraph==='',this.skills==='',this.selected===''){
                     alert("please enter required")
                     
                    }
                    else
                    {
                        console.log("the form has been successfully submited");
                        alert('Form submitted ' +  this.message + '!');
                        
                    }
                    
                   
                },
                
            }

        })

    </script>



</body>
</html>