<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|Page</title>
</head>
<body>
    <input v-model="username" required placeholder="username">
    <br>
    <br>
    <input v-model="password" required placeholder="password">
    <br>
    <br>
    <button type="submit" @click="">LogIn</button>
   

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var login = new Vue ({
           
    })
    </script>
</body>
</html>