<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .done{
            text-decoration: line-through;
        }
        body{
            background-color: lightcyan;
        }
    </style>
    <title>TODO LIST</title>
</head>
<body>
  

    <div id="todo" class="container-fluid">
    
        <div class="container">
            
            <form @submit.prevent="addTodo">
                <label for="newTodo">New todo</label>
                <br>

                <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="" @keyup.enter="addTodo">
                <p v-if="todos.length===0">No more work left</p>
                <br>

                <button type="submit">Add</button>
            </form>
            <button @click="allDone" type="button">ALL DONE</button>
            <ul>
                <li v-for='todo in todos'>
                    <input type="checkbox" v-model='todo.done'>
                    <span :class="{ done:todo.done }">{{todo.title}}</span>
                    <br><button @click="removeTodo(todo)">Remove</button>
                </li>
            </ul>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var v =  new Vue({
            el:'#todo',
            data:{
                
                newTodo:"",
                todos:[],
                



            },
            
            methods:{
                addTodo(){
                    this.todos.push({
                        title: this.newTodo,
                        done:false

                    });
                    this.newTodo='';
                },
                removeTodo(){
                    const todoIndex = this.todos.indexOf(todo);
                    this.todos.splice(todoIndex,1);
                },
                allDone(){
                    this.todos.forEach(todo => {
                        todo.done=true;
                    });
                }
            }
        })
    </script>

    
</body>
</html>